*.qcow2
*.tar.gz
*.sql
*.rdb
mosquitto.db
influxdb.conf
*.DS_Store
*.manifest
*.meta
ignition/butane
ignition/ignition-validate
qemu/edk2-aarch64-code.fd
qemu/edk2-arm-vars.fd
qemu/fedora-coreos-40.20240920.3.0-qemu.aarch64
config.ign
*ecdsa_key*
*ed25519_key*
*rsa_key*
*dsa_key*