- hosts: unraid
  gather_facts: False
  vars_files:
    - vault.yml

  tasks:
    - name: Install requests module with pip system-wide
      shell: sudo python3 -m pip install requests
      args:
        _uses_shell: true # run in a shell environment