- hosts: coreos
  gather_facts: False
  vars_files:
    - vault.yml

  tasks:
    - name: Install python3 and related packages
      raw: |
        test -e /usr/bin/python3 || sudo /usr/bin/rpm-ostree install -y \
        --apply-live \
        --allow-inactive \
        python3 \
        python3-pip \
        libselinux-python3 \
        policycoreutils-python-utils \
        cronie \
        docker-buildx \
        wget

    - name: Install requests module with pip system-wide
      shell: sudo python3 -m pip install requests
      args:
        _uses_shell: true # run in a shell environment

    - name: Ensure Docker is started and enabled at boot
      ansible.builtin.systemd:
        name: docker
        state: started
        enabled: yes